/* Hardcoded car colors up to 9 cars */
.Car1 {
    color: rgb(240,90,100);
}
.Car2 {
    color: rgb(35,190,205);
}
.Car3 {
    color: rgb(77,199,49);
}
.Car4 {
    color: rgb(209,172,83);
}
.Car5 {
    color: rgb(107,240,230);
}
.Car6 {
    color: rgb(253,104,252);
}
.Car7 {
    color: rgb(141,140,93);
}
.Car8 {
    color: rgb(252,190,182);
}
.Car9 {
    color: rgb(2,89,70);
}


/* Justify every paragraph except those in tables */
:not(th):not(td) > p {
    text-align: justify;
}

/* Center align all table contents */
.table td {
    text-align: center;
}
.table th {
    text-align: center;
}

/* Nice big tokens by default */
.icon-token {
    font-size: 150%;
}
.icon-token-empty {
    font-size: 150%;
}


.edit_hover_class a{
  visibility:hidden;
}
.edit_hover_class:hover a {
 visibility:visible;
}


.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-stack-1x {
  line-height: inherit;
}
.fa-stack-2x {
  font-size: 2em;
}


/* Alerts shown on top of the game board */
#alerts {
    position: fixed;
    left: 45%;
    bottom: 45%;
    width: 25%;
    min-width: 200px;
}


/* Custom icons - replace this when updating seita-webfonts with Fontello */

@font-face {
  font-family: 'seita-webfont';
  src: url('../font/seita-webfont.eot?12471679');
  src: url('../font/seita-webfont.eot?12471679#iefix') format('embedded-opentype'),
       url('../font/seita-webfont.woff2?12471679') format('woff2'),
       url('../font/seita-webfont.woff?12471679') format('woff'),
       url('../font/seita-webfont.ttf?12471679') format('truetype'),
       url('../font/seita-webfont.svg?12471679#seita-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'seita-webfont';
    src: url('../font/seita-webfont.svg?12471679#seita-webfont') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "seita-webfont";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-token-empty:before { content: '\e800'; } /* '' */
.icon-charging_station:before { content: '\e801'; } /* '' */
.icon-ev:before { content: '\e802'; } /* '' */
.icon-minus:before { content: '\e803'; } /* '' */
.icon-plus:before { content: '\e804'; } /* '' */
.icon-token:before { content: '\e805'; } /* '' */
.icon-coin:before { content: '\e80a'; } /* '' */