<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Smart Charging - The Game</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap -->
        <link href="static/css/external/bootstrap.min.css" rel="stylesheet"/>

        <!-- Bokeh -->
        {{ bokeh_css_resources|indent(4)|safe }}
        {{ bokeh_js_resources|indent(4)|safe }}

        <!-- Custom CSS -->
        <link href="static/css/scc.css" rel="stylesheet"/>


    </head>
    <body>
        <script type="text/javascript" src="static/js/external/jquery-3.1.0.min.js"></script>
        <script type="text/javascript" src="static/js/external/jquery.floatThead.min.js"></script>
        <script type="text/javascript" src="static/js/external/bootstrap.min.js"></script>

        <div class="container-fluid">

                <header class="page-header font-small pt-4 mt-4">
                      <div class="header text-center">
                          <div class="container-fluid">
                              <p style="text-align: center;">
                                  Made first as <a href="#physical-board-img">a serious boardgame</a>, then as a digital prototype for the
                                  <a href="https://www.livinglabsmartcharging.nl/nl/smartchargingchallenge/smartchargingchallenge" target="_blank">Smart Charging Challenge 2018</a>.
                              </p>
                              <p style="text-align: center;">
                                  Team: <a href="https://www.linkedin.com/in/janaendemann" target="_blank">Jana Endemann</a>,
                                  <a href="https://www.linkedin.com/in/daphne-van-leeuwen-0856b049/" target="_blank">Daphne van Leeuwen</a>,
                                  <a href="https://www.linkedin.com/in/felix-c-337039144/" target="_blank">Felix Claessen</a> (<a href="https://seita.nl/" target="_blank">Seita B.V.</a>)
                                  and <a href="https://www.linkedin.com/in/nhoening/" target="_blank">Nicolas H&ouml;ning</a> (<a href="https://seita.nl/" target="_blank">Seita B.V.</a>).
                              </p>
                              <p style="text-align: center;">
                                  We explain the underlying game mechanics and data sources <a href="#data">here</a>.
                              </p>
                          </div>
                      </div>
                </header>


            <div class="row">

                <div class="col-sm-3">
                    <h1>
                        Max your charge
                    </h1>
                    <p>
                        What happens after you plug in your electric car?
                        A big underlying problem of the energy transition is this: who should charge when?
                    </p>
                    <p>
                        This game challenges you to find the best schedule.
                        <i>Can you beat the score of your friends?</i>
                    </p>
                    <p>
                        Remember: The smartest charge is doing it for him/herself, but also for a balanced grid and for clean energy!
                    </p>

                    <h1>
                        The rules
                    </h1>
                    <p>
                        In this game you are the operator of several EV charging stations. EV owners will come to one of
                        your stations and want to charge their cars. When they leave, the car should be charged
                        (you get 50<i class="icon-coin"></i> per energy token).
                        But if you let the car leave empty, you will have to pay a penalty (100<i class="icon-coin"></i>).
                    </p>
                    <p>
                        On the other hand, you must buy the energy that you charge with from the grid.
                        You pay a variable price, depending on the supply in the system at the moment.
                        <br/>
                        <i><b>Note:</b> You'll always buy or sell the next cheapest token. Exactly like in a market.</i>
                    </p>
                    <p>
                        When there is little energy (negative imbalance, i.e. more demand than supply),
                        you pay a higher price than when there is a lot of energy available
                        (imbalance is positive, i.e. more supply than demand).
                    </p>
                    <p>
                        You can also use this to your advantage, by using the stationed cars as batteries. Charge when
                        energy is cheap and discharge when energy is expensive. But be careful not to let the cars leave
                        empty!
                    </p>

                    <h2>
                        The aim of the game
                    </h2>
                    <p>
                        By balancing your import and export to the grid while having all the cars leave fully charged
                        will give you the greatest profit. All the while you are helping balance the grid and charging
                        cars for users. Win-win-win!!!
                    </p>

                    <h2>
                        Steps
                    </h2>
                    <p>
                        Each turn you have several options available. For each car currently at one of your stations you can
                        decide to:
                    </p>
                    <ul>
                        <li><b>Charge the car</b> (with anything up to the capacity of the charger).
                            <i>Shortcuts: [c+1],[c+2],[c+3],[c+4]</i></li>
                        <li><b>Discharge the car</b> (with anything up to the capacity of the charger).
                            <i>Shortcuts: [d+1],[d+2],[d+3],[d+4]</i></li>
                        <li><b>Do nothing/wait</b></li>
                    </ul>
                    <p>
                        When you're happy with the changes in all your chargers, you can commit them by clicking 'next
                        turn'. <i>Shortcut: [Enter]</i>
                        The transactions are now included in the game grid and the active turn-line now moves down
                        one.
                    </p>
                    <p>
                        Your score will increase or decrease with each turn you play. At the start, you will have to make
                        investments to buy energy for the charging EV owners. Soon though you may start seeing your money
                        back in rewards.
                    </p>
                    <p>Finished (or screwed up beyond repair)? Better reset the game. <i>Shortcut: [Shift+r]</i></p>
                    <p><b>Balance and charge to the max to max your score.</b></p>
                </div>

                <div class="col-sm-9">
                    <a name="game"></a>
                        {% if world.current_step < num_turns %}
                            <h1>Fill the cars with energy tokens! Take care of price differences.</h1>
                            {% if world.current_step == 0 %}
                                <h2>This is a new game. Do your first move.</h2>
                            {% endif %}
                        {% else %}
                            <h1>Congratulations!</h1>
                        {% endif %}
                    <div class="row">
                        <div class="col-sm-8">
                            {% if world.current_step < num_turns %}
                                <h2>Your budget is {{ world.money -}}<i class="icon-coin"></i></h2>
                            {% else %}
                                <h2>Your final score is {{ world.money -}}<i class="icon-coin"></i></h2>
                            {% endif %}
                        </div>
                        <div class="col-sm-2">
                            <br/>
                            <form class="form-inline" action="reset" method="get">
                                <button id="reset_game" class="btn btn-sm btn-info" type="submit"
                                        data-toggle="tooltip"
                                        title="Reset the game. Shortcut: [Shift+r]">
                                    Reset game
                                </button>
                            </form>
                        </div>
                        <div class="col-sm-2">
                            <br/>
                            <form class="form-inline" action="new" method="get">
                                <button id="new_game" class="btn btn-sm btn-warning" type="submit"
                                        data-toggle="tooltip"
                                        title="Start a new game. Shortcut: [Shift+n]">
                                    Start a new game
                                </button>
                            </form>
                        </div>
                    </div>
                    <br/>
                    <form action="next" method="post">
                        <table class="table col-sm-8">
                            <thead>
                                <tr>
                                    <th>

                                    </th>
                                    <th colspan={{max_tokens}}>
                                        Available tokens (<i class="icon-token" style="font-size: 100%;"></i>) and their price (<i class="icon-coin"></i>)
                                    </th>
                                    <th colspan={{ world.charging_stations | length }}>
                                        Charging stations<!-- (max <i class="icon-token" style="font-size: 100%;"></i> per turn)-->
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        Hour
                                        {% if world.current_step < num_turns %}
                                            <br/><br/>
                                            <button id="next_turn" class="btn btn-sm btn-primary" type="submit"
                                                    data-toggle="tooltip"
                                                    title="Finish this move and start the next. Shortcut: [Enter]">
                                                Next turn
                                            </button>
                                        {% endif %}
                                    </th>
                                    {% for market_token in range(max_tokens) %}
                                        <th style="text-align: center; padding-left: 0; padding-right: 0;">
                                            {% if market_token==0 %}
                                                100<i class="icon-coin"></i>
                                            {% elif market_token==1 %}
                                                60<i class="icon-coin"></i>
                                            {% elif market_token==2 %}
                                                30<i class="icon-coin"></i>
                                            {% elif market_token==3 %}
                                                15<i class="icon-coin"></i>
                                            {% elif market_token==4 %}
                                                8<i class="icon-coin"></i>
                                            {% elif market_token==5 %}
                                                4<i class="icon-coin"></i>
                                            {% elif market_token==6 %}
                                                2<i class="icon-coin"></i>
                                            {% elif market_token==7 %}
                                                1<i class="icon-coin"></i>
                                            {% endif %}
                                        </th>
                                    {% endfor %}
                                    {% for station_id, station in world.charging_stations.items() %}
                                        <th style="text-align: center;">
                                            <i class="icon-charging_station" data-toggle="tooltip" data-html="true" title='Max {{ station.capacity -}} <i class="icon-token" style="font-size: 100%;"></i> per turn'></i>
                                            <br/>
                                            <br/>
                                            {% if station.has_car_at(step=world.current_step) %}
                                                {% set car = station.get_car_at(step=world.current_step) %}
                                                <button id="add_one_{{ station_id }}" class="btn btn-sm btn-success" type="button"
                                                        {% if car.current_charge == car.target_charge or available_tokens[current_turn] == 0 %}
                                                            disabled
                                                        {% endif %}
                                                        data-toggle="tooltip" data-trigger="hover"
                                                        title="Charge one token on the car parked at this station. Shortcut: [c+{{car.id[-1]}}]">
                                                    Charge
                                                </button>
                                                <button id="remove_one_{{ station_id }}" class="btn btn-sm btn-danger" type="button"
                                                        {% if car.current_charge == 0 or available_tokens[current_turn] == max_tokens %}
                                                            disabled
                                                        {% endif %}
                                                        data-toggle="tooltip" data-trigger="hover"
                                                        title="Discharge one token from the car parked at this station. Shortcut: [d+{{car.id[-1]}}]">
                                                    Discharge
                                                </button>
                                            {% endif %}
                                            <input id="my_input_{{ station_id }}" type="hidden" name="order_{{ station_id }}" value="0">
                                        </th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                            {% for turn_j in range(num_turns) %}
                                <tr {% if turn_j == world.current_step %}class="info current-turn"{% endif %}>
                                    <td>
                                        {% if turn_j==world.current_step %}
                                            <input id="my_input_market" type="hidden" name="market" value="{{ available_tokens[turn_j] }}">
                                        {% endif %}
                                        {% if turn_j == world.current_step - 4%}
                                            <a name="current_turn"></a>
                                        {% endif %}
                                        {{ turn_hours[turn_j] }}:00
                                    </td>

                                    {% for market_token in range(available_tokens[turn_j]|int) %}
                                        <th {% if turn_j==world.current_step %}id="token-holder-{{market_token}}"{% endif %} style="text-align: center; padding-left: 0; padding-right: 0;">
                                            <i class="icon-token"></i>
                                        </th>
                                    {% endfor %}
                                    {% for empty_token in range((max_tokens - available_tokens[turn_j])|int) %}
                                        <th {% if turn_j==world.current_step %}id="token-holder-{{empty_token+available_tokens[turn_j]}}"{% endif %}></th>
                                    {% endfor %}

                                    {% for station_id, station in world.charging_stations.items() %}
                                        <td style="white-space: nowrap">
                                            {%- if station.has_car_at(step=turn_j) %}
                                                {% set car = station.get_car_at(step=turn_j) %}
                                                {% set car_id = car.id %}
                                                {% set car_target = car.target_charge %}
                                                {% set car_actions = car.charging_actions[0:turn_j+1]|sum %}
                                                {% set car_current = car.current_charge %}
                                                {% if turn_j <= world.current_step %}
                                                    <span id="token-holder-station-{{station_id}}-{{turn_j}}">
                                                        {%- for i in range(car_actions) -%}
                                                            <i class="icon-token {{car_id}}"></i>
                                                        {%- endfor -%}
                                                        {%- for i in range(car_target - car_actions) -%}
                                                            <i class="icon-token-empty {% if turn_j < world.current_step %}{{car_id}}{% endif %}"></i>
                                                        {%- endfor -%}
                                                    </span>
                                                {% else %}
                                                    <span id="token-holder-station-{{station_id}}-{{turn_j}}">
                                                        {%- for i in range(car_target) -%}
                                                            <i class="icon-token-empty"></i>
                                                        {%- endfor -%}
                                                    </span>
                                                {% endif %}
                                                <meta id="car-at-station-{{station_id}}-{{turn_j}}" data-car_id="{{car_id}}" data-target="{{car_target}}" data-current="{{car_current}}">

                                                <p class="{{ car_id }}">
                                                    <i class="icon-ev {{ car_id }}" style="margin-right:50px;"
                                                       data-toggle="tooltip" data-html="true" title='Wants {{car_target-}} <i class="icon-token" style="font-size: 100%;"></i> at departure'></i>
                                                </p>
                                            {% endif -%}
                                        </td>

                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12">
                    <a name="physical-board-img"></a>
                    <h2>The real-world game lab at the Smart Charging Hackathon</h2>
                    <a href="#game">Back to top</a>
                </div>
                <div class="imgwrapper col-sm-3">
                    <img src="static/Car grid.jpg" class="img-responsive visible-md visible-lg" style="max-height:400px; float:left;"/>
                </div>
                <div class="imgwrapper col-sm-6">
                    <img src="static/board.jpg" class="img-responsive" style="max-height:400px; float:center;"/>
                </div>
                <div class="imgwrapper col-sm-3">
                    <img src="static/Car grid.jpg" class="img-responsive visible-md visible-lg" style="max-height:400px; float:right;"/>
                </div>
            </div>


            <div class="row">
                <a name="data"></a>
                <h2>Background information on the data used in the game engine</h2>
                <a href="#game">Back to top</a>
            </div>

            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <p>
                        Below we explain the game dynamics and show some of the underlying data.
                        This data can easily be changed with data fitting a specific real-world case.
                        One of our main design challenges for the hackathon was to use realistic data that still fits the game into an 8 by 8 matrix
                        (where the dimensions represent time and market quantities) <em>and is fun to play</em>.
                    </p>
                </div>
                <div class="col-sm-3"></div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel">
                        {{ data_plots_html | safe }}
                        {{ data_plots_js | safe }}
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <p>
                        The supply data represents solar production in Castricum, Noord-Holland on March 9, 2018 (9am to 16pm).
                        We got the data from <a href="https://icarus.energy/">the iCarus API</a>, and downsampled and divided
                        it until it could be represented by eight tokens.</p>
                    <p>
                        The demand data represents two well-known peaks in energy markets in the morning and evening when people get up or come home.
                        The peaks are shifted to improve game play.
                    </p>
                    <p>
                        The liquidity of our in-game market has a fixed range,
                        meaning there is only a limited number of energy tokens.
                        When demand and supply are equal, the in-game market has 4 tokens.
                        This represents that there is ample opportunity to both buy and sell.
                        When demand exceeds supply by 4, there are no tokens to buy.
                        When supply exceeds demand by 4, there are 8 tokens on the market.
                        The market is then full, meaning there is no possibility to sell.
                    </p>
                </div>
                <div class="col-sm-4">
                    <p>
                        The in-game market is a generic function representing pricing dynamics on real energy markets:
                        supply and demand that change throughout the day,
                        and prices that increase non-linearly with scarcity.
                        The highlighted number of tokens shows the price for supply and demand being in balance.
                        It's cheap to buy tokens to the right of it, but expensive to sell to the left of it.
                        This market motivates players to 1) make most of their purchases when the market has the most abundant supply,
                        and 2) to feed back energy to the grid when the market is coming up way short.
                    </p>
                </div>
                <div class="col-sm-4">
                    <p>
                        Probabilities bring an element of chance (and luck) into games. In this game,
                        cars arrive at charging stations throughout the day with a certain probability of arrival and duration.
                        For each new game the board is initialised using random draws from the shown probability distribution for car arrivals.
                        The time that each car spends at a charging station is also randomised.
                        They can remain at a charging station for up to 8 hours, but 4 hours of parking is the most common.
                        The probabilities used here are based on data from office parking stations,
                        but it's easy to set up the game for other situations, such as parking on public streets or at houses.
                    </p>
                </div>
            </div>

        </div>
        <div id="alerts">
            {% if completed_a_move and move_summary%}
                <!-- Display move results in alert dialogue -->
                <div class="alert alert-warning" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4>Move completed!</h4>
                    <p><i>([ESC] to close)</i></p>
                    <p>{{ move_summary | safe }}</p>
                </div>
                <script type="text/javascript">
                    alert = $('.alert');
                    alert.delay(9000).fadeOut('slow', function () {
                        $(this).alert('close');
                    });
                </script>
            {% endif %}
        </div>

        {{ safe_js|safe }}

        <script type="text/javascript" src="/static/js/scc.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                {% if resetted_the_game or world.current_step == num_turns%}
                    location.hash = "#game";
                {% else %}
                    {% if completed_a_move%}
                        location.hash = "#current_turn";
                    {% endif %}
                {% endif %}
                $('[data-toggle="tooltip"]').tooltip();
                $('table').floatThead();
            });
        </script>

    </body>
</html>
