<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap -->
        <link href="static/css/external/bootstrap.min.css" rel="stylesheet"/>

        <!-- Custom CSS -->
        <link href="static/css/scc.css" rel="stylesheet"/>

    </head>
    <body>
        <div class="container-fluid">
            <div class="row">

                <div class="col-sm-4">
                    <h1>
                        Max your charge
                    </h1>
                    <p>
                        What happens after you plug in your electric car?
                        Every time you and your friends plug in you create a problem: who to charge when?
                        This game challenges you to find the best schedule.
                        Can you beat the score of your friends?
                        Remember: you can earn a little extra by helping to balance the grid.
                    </p>
                    <h1>
                        The rules
                    </h1>
                    <p>
                        In this game you are the operator of several EV charging stations. EV owners will come to one of
                        your stations and want to charge their cars. When they leave, the car should be charged, or you
                        will have to pay a penalty.
                        On the other hand, you must buy the energy that you charge with from the grid. You pay a
                        variable price, depending on the supply in the system at the moment. When imbalance is negative,
                        you pay a higher price than when imbalance is positive.
                        You can also use this to your advantage, by using the stationed cars as batteries. Charge when
                        energy is cheap and discharge when energy is expensive. But be careful not to let the cars leave
                        empty!
                    </p>
                    <p>
                        The aim of the game
                    </p>
                    <p>
                        By balancing your import and export to the grid while having all the cars leave fully charged
                        will give you the greatest profit. All the while you are helping balance the grid and charging
                        cars for users. Win-win-win!!!
                    </p>
                    <p>
                        Steps
                    </p>
                    <p>
                        Each turn you have several options available. For each car in your network of chargers you can
                        decide:
                    </p>
                    <ul>
                        <li>Charge the car (with anything up to the capacity of the charger)</li>
                        <li>Discharge the car (with anything up to the capacity of the charger)</li>
                        <li>Do nothing/wait</li>
                    </ul>
                    <p>
                        When you're happy with the changes in all your chargers, you can commit them by clicking 'next
                        turn'. The transactions are now included in the game grid and the active turn-line now moves down
                        one.
                        Your score will increase of decrease with each turn you play. Starting you will have to make
                        investments to buy energy for the charging EV owners. Soon though you may start seeing your money
                        back in rewards. Balance and charge to the max to max your charge.
                    </p>
                </div>

                <div class="col-sm-8">
                    <h1>Your score</h1>
                    <form action="next" method="post">
                        <table class="table col-sm-8">
                            <tr>
                                <th>
                                    Turn
                                </th>
                                <th>
                                    <i class="icon-solar"></i>
                                </th>
                                <th>
                                    <i class="icon-iron"></i>
                                </th>
                                <th>
                                    <i class="icon-balance"></i>
                                </th>
                                {% for imbalance_chip in range(max_imbalance) %}
                                    <th>
                                        {% if imbalance_chip==0 %}
                                            <!--<i class="icon-coin-10"></i>-->
                                            200
                                        {% elif imbalance_chip==1 %}
                                            100
                                        {% elif imbalance_chip==2 %}
                                            50
                                        {% elif imbalance_chip==3 %}
                                            20
                                        {% elif imbalance_chip==4 %}
                                            10
                                        {% elif imbalance_chip==5 %}
                                            5
                                        {% elif imbalance_chip==6 %}
                                            2
                                        {% elif imbalance_chip==7 %}
                                            1
                                        {% endif %}
                                    </th>
                                {% endfor %}
                                {% for station_i in range(num_stations) %}
                                    <th>
                                        <i class="icon-charging_station"></i>
                                        Max {{ max_capacity[station_i] }}
                                    </th>
                                {% endfor %}
                            </tr>
                        {% for turn in range(num_turns) %}
                            <tr {% if turn==current_turn %}class="info"{% endif %}>
                                <td>
                                    {% if turn==current_turn %}
                                        <button id="next_turn" class="btn btn-sm btn-primary" type="submit">Next turn</button>
                                    {% endif %}
                                </td>

                                <td>
                                    {{ production[turn] }}
                                </td>
                                <td>
                                    {{ consumption[turn] }}
                                </td>
                                <td>
                                    {{ imbalance[turn] }}
                                </td>

                                {% for imbalance_chip in range(imbalance[turn]|int) %}
                                    <th>
                                        <i class="icon-chip"></i>
                                    </th>
                                {% endfor %}
                                {% for empty_imbalance_chip in range((max_imbalance- imbalance[turn])|int) %}
                                    <th>

                                    </th>
                                {% endfor %}

                                {% for station_i in range(num_stations) %}
                                    {% set station_id = station_id[station_i-2] %}
                                    {% set station = world.charging_stations.get(station_id) %}
                                    <td style='white-space: nowrap' class="text-nowrap">
                                        {% if turn==current_turn %}
                                            <!--<div class="row">-->
                                                <!--<div class="col-sm-4">-->
                                                    <button id="add_one_{{ turn }}_{{ station_i }}" class="btn btn-sm btn-success" type="button">Charge</button>
                                                <!--</div>-->
                                                <!--<div class="col-sm-4">-->
                                                    Consume <span id="my_counter_{{ turn }}_{{ station }}">0</span>
                                                    <input id="my_input_{{ turn }}_{{ station_i }}" type="hidden" name="order_{{ station_id }}" value="0">
                                                <!--</div>-->
                                                <!--<div class="col-sm-4">-->
                                                    <button id="remove_one_{{ turn }}_{{ station_i }}" class="btn btn-sm btn-danger" type="button">Discharge</button>
                                                <!--</div>-->
                                            <!--</div>-->
                                        {% endif %}
                                        {% if station.has_car_at(step=turn) %}
                                            {% set car_id = station.get_car_at(step=turn).id %}
                                            {% set car_target = station.get_car_at(step=turn).target_charge %}
                                            <i class="icon-ev {{ car_id }}"></i>
                                            <br>Your target is {{ car_target }}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </table>
                    </form>
                </div>

            </div>
        </div>

        <script src="static/js/external/jquery-3.1.0.min.js"></script>
        <script src="static/js/external/bootstrap.min.js"></script>
        {{ safe_js|safe }}

        <!--<script src="static/js/scc.js"></script>-->
    </body>
</html>
