<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap -->
        <link href="static/css/external/bootstrap.min.css" rel="stylesheet"/>

        <!-- Custom CSS -->
        <link href="static/css/scc.css" rel="stylesheet"/>

    </head>
    <body>
        <script src="static/js/external/jquery-3.1.0.min.js"></script>
        <script src="static/js/external/bootstrap.min.js"></script>

        <div class="container-fluid">

                <header class="page-header font-small pt-4 mt-4">
                      <div class="header text-center">
                          <div class="container-fluid">
                              <p>Made first as <a href="#physical-board-img">a serious boardgame</a>, then as a digital prototype for the
                                  <a href="https://www.livinglabsmartcharging.nl/nl/smartchargingchallenge/smartchargingchallenge" target="_blank">Smart Charging Challenge 2018</a>.
                              </p>

                              <p>Team: <a href="https://www.linkedin.com/in/janaendemann" target="_blank">Jana Endemann</a>,
                              <a href="https://www.linkedin.com/in/daphne-van-leeuwen-0856b049/" target="_blank">Daphne van Leeuwen</a>,
                              <a href="https://www.linkedin.com/in/felix-c-337039144/" target="_blank">Felix Claessen</a> (<a href="https://seita.nl/" target="_blank">Seita B.V.</a>)
                              and <a href="https://www.linkedin.com/in/nhoening/" target="_blank">Nicolas H&ouml;ning</a> (<a href="https://seita.nl/" target="_blank">Seita B.V.</a>).
                              </p>
                          </div>
                      </div>
                </header>


            <div class="row">

                <div class="col-sm-3">
                    <h1>
                        Max your charge
                    </h1>
                    <p>
                        What happens after you plug in your electric car?
                        Every time you and your friends plug in you create a problem: who should charge when?
                    </p>
                    <p>
                        This game challenges you to find the best schedule.
                        <i>Can you beat the score of your friends?</i>
                        Remember: you can earn a little extra by helping to balance the grid.
                    </p>

                    <h1>
                        The rules
                    </h1>
                    <p>
                        In this game you are the operator of several EV charging stations. EV owners will come to one of
                        your stations and want to charge their cars. When they leave, the car should be charged, or you
                        will have to pay a penalty.
                    </p>
                    <p>
                        On the other hand, you must buy the energy that you charge with from the grid. You pay a
                        variable price, depending on the supply in the system at the moment. When there is little energy
                        (negative imbalance, i.e. more demand than supply), you pay a higher price than when there is a
                        lot available (imbalance is positive, i.e. more supply than demand).
                    </p>
                    <p>
                        You can also use this to your advantage, by using the stationed cars as batteries. Charge when
                        energy is cheap and discharge when energy is expensive. But be careful not to let the cars leave
                        empty!
                    </p>

                    <h2>
                        The aim of the game
                    </h2>
                    <p>
                        By balancing your import and export to the grid while having all the cars leave fully charged
                        will give you the greatest profit. All the while you are helping balance the grid and charging
                        cars for users. Win-win-win!!!
                    </p>

                    <h2>
                        Steps
                    </h2>
                    <p>
                        Each turn you have several options available. For each car in your network of chargers you can
                        decide:
                    </p>
                    <ul>
                        <li>Charge the car (with anything up to the capacity of the charger)</li>
                        <li>Discharge the car (with anything up to the capacity of the charger)</li>
                        <li>Do nothing/wait</li>
                    </ul>
                    <p>
                        When you're happy with the changes in all your chargers, you can commit them by clicking 'next
                        turn' or simply hitting the Return key.
                        The transactions are now included in the game grid and the active turn-line now moves down
                        one.
                    </p>
                    <p>
                        Your score will increase of decrease with each turn you play. Starting you will have to make
                        investments to buy energy for the charging EV owners. Soon though you may start seeing your money
                        back in rewards. Balance and charge to the max to max your charge.
                    </p>
                </div>

                {% if completed_a_move or resetted_the_game%}
                    <script type="text/javascript">
                        $(document).ready(function(){
                            location.hash = "#game";
                            $('[data-toggle="tooltip"]').tooltip();
                        });
                    </script>
                {% else %}
                    <script type="text/javascript">
                        $(document).ready(function(){
                            $('[data-toggle="tooltip"]').tooltip();
                        });
                    </script>
                {% endif %}

                <div class="col-sm-9">
                    <a name="game"></a>
                    <h1>Fill the cars with energy tokens, taking advantage of price differences</h1>
                    <h2>Your budget is {{ world.money -}}<i class="icon-coin"></i></h2>
                    <form action="reset" method="get">
                        <button id="reset_button" class="btn btn-sm btn-warning" type="submit">Reset game</button>
                    </form>
                    <br>
                    <form action="next" method="post">
                        <table class="table col-sm-8">
                            <tr>
                                <th>

                                </th>
                                <th colspan={{max_tokens}}>
                                    Available tokens (<i class="icon-token" style="font-size: 100%;"></i>) and their worth (<i class="icon-coin"></i>)
                                </th>
                                <th colspan={{ world.charging_stations | length }}>
                                    Charging stations<!-- (max <i class="icon-token" style="font-size: 100%;"></i> per turn)-->
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    Hour
                                    {% if current_turn < num_turns %}
                                        <br><br>
                                        <button id="next_turn" class="btn btn-sm btn-primary" type="submit">Next turn</button>
                                    {% else %}
                                        <br>
                                        Great score. Want to try again?
                                    {% endif %}
                                </th>
                                <!--<th>-->
                                    <!--<i class="icon-solar"></i>-->
                                <!--</th>-->
                                <!--<th>-->
                                    <!--<i class="icon-iron"></i>-->
                                <!--</th>-->
                                <!--<th>-->
                                    <!--<i class="icon-balance"></i>-->
                                <!--</th>-->
                                {% for imbalance_token in range(max_tokens) %}
                                    <th style="text-align: center; padding-left: 0; padding-right: 0;">
                                        {% if imbalance_token==0 %}
                                            <!--<i class="icon-coin-10"></i>-->
                                            <!--200-->
                                            <!--128-->
                                            100<i class="icon-coin"></i>
                                        {% elif imbalance_token==1 %}
                                            <!--100-->
                                            <!--64-->
                                            60<i class="icon-coin"></i>
                                        {% elif imbalance_token==2 %}
                                            <!--50-->
                                            <!--32-->
                                            30<i class="icon-coin"></i>
                                        {% elif imbalance_token==3 %}
                                            <!--20-->
                                            <!--16-->
                                            15<i class="icon-coin"></i>
                                        {% elif imbalance_token==4 %}
                                            <!--10-->
                                            8<i class="icon-coin"></i>
                                        {% elif imbalance_token==5 %}
                                            <!--5-->
                                            4<i class="icon-coin"></i>
                                        {% elif imbalance_token==6 %}
                                            2<i class="icon-coin"></i>
                                        {% elif imbalance_token==7 %}
                                            1<i class="icon-coin"></i>
                                        {% endif %}
                                    </th>
                                {% endfor %}
                                {% for station_id, station in world.charging_stations.items() %}
                                    <th style="text-align: center;">
                                        <i class="icon-charging_station" data-toggle="tooltip" data-html="true" title='Max {{ station.capacity -}} <i class="icon-token" style="font-size: 100%;"></i> per turn'></i>
                                        <br/>
                                        <br/>
                                        {% if station.has_car_at(step=current_turn) %}
                                            {% set car = station.get_car_at(step=current_turn) %}
                                            {% set car_id = car.id %}
                                            {% set car_target = car.target_charge %}
                                            {% set car_current = car.current_charge %}
                                            {% if car_current < car_target and available_tokens[current_turn] > 0 %}
                                                <button id="add_one_{{ station_id }}" class="btn btn-sm btn-success" type="button">Charge</button>
                                            {% else %}
                                                <button id="add_one_{{ station_id }}" class="btn btn-sm" type="button" disabled>Charge</button>
                                            {% endif %}
                                            {% if car_current > 0 and available_tokens[current_turn] < max_tokens %}
                                                <button id="remove_one_{{ station_id }}" class="btn btn-sm btn-danger" type="button">Discharge</button>
                                            {% else %}
                                                <button id="remove_one_{{ station_id }}" class="btn btn-sm" type="button" disabled>Discharge</button>
                                            {% endif %}
                                        {% endif %}
                                        <input id="my_input_{{ station_id }}" type="hidden" name="order_{{ station_id }}" value="0">
                                    </th>
                                {% endfor %}
                            </tr>
                        {% for turn_j in range(num_turns) %}
                            {% if turn_j==current_turn %}
                                <input id="my_input_market" type="hidden" name="market" value="{{ available_tokens[turn_j] }}">
                            {% endif %}
                            <tr {% if turn_j==current_turn %}class="info current-turn"{% endif %}>
                                <td>
                                    {{ turn_hours[turn_j] }}:00
                                </td>

                                {% for imbalance_token in range(available_tokens[turn_j]|int) %}
                                    <th {% if turn_j==current_turn %}id="token-holder-{{imbalance_token}}"{% endif %} style="text-align: center; padding-left: 0; padding-right: 0;">
                                        <i class="icon-token"></i>
                                    </th>
                                {% endfor %}
                                {% for empty_token in range((max_tokens - available_tokens[turn_j])|int) %}
                                    <th {% if turn_j==current_turn %}id="token-holder-{{empty_token+available_tokens[turn_j]}}"{% endif %}></th>
                                {% endfor %}

                                {% for station_id, station in world.charging_stations.items() %}
                                    <td style="white-space: nowrap">
                                        {%- if station.has_car_at(step=turn_j) %}
                                            {% set car = station.get_car_at(step=turn_j) %}
                                            {% set car_id = car.id %}
                                            {% set car_target = car.target_charge %}
                                            {% set car_actions = car.charging_actions[0:turn_j+1]|sum %}
                                            {% set car_current = car.current_charge %}
                                            {% if turn_j <= current_turn %}
                                                <span id="token-holder-station-{{station_id}}-{{turn_j}}">
                                                    {%- for i in range(car_actions) -%}
                                                        <i class="icon-token {{car_id}}"></i>
                                                    {%- endfor -%}
                                                    {%- for i in range(car_target - car_actions) -%}
                                                        <i class="icon-token-empty {% if turn_j < current_turn %}{{car_id}}{% endif %}"></i>
                                                    {%- endfor -%}
                                                </span>
                                            {% else %}
                                                <span id="token-holder-station-{{station_id}}-{{turn_j}}">
                                                    {%- for i in range(car_target) -%}
                                                        <i class="icon-token-empty"></i>
                                                    {%- endfor -%}
                                                </span>
                                            {% endif %}
                                            <!--<button id="remove_one_{{ station_i }}_{{ current_turn }}" class="btn btn-sm btn-danger" type="button">Discharge</button>-->
                                            <!--<button id="add_one_{{ station_i }}_{{ current_turn }}" class="btn btn-sm btn-success" type="button">Charge</button>-->
                                            <meta id="target-station-{{station_id}}" data-car_id="{{car_id}}" data-target="{{car_target}}" data-current="{{car_current}}">

                                            <!--<div class="station-status"></div>-->
                                            <!--<button onclick="doFunction();"></button>-->
                                            <!--<i class="icon-token"></i>-->
                                            <!--<i class="icon-token"></i>-->
                                            <!--<button class="btn btn-xs btn-danger" type="button">-->
                                                <!--<span class="fa-stack">-->
                                                    <!--<i class="icon-token-empty fa-stack-2x"></i>-->
                                                    <!--<i class="icon-plus fa-stack-1x"></i>-->
                                                <!--</span>-->
                                            <!--</button>-->
                                            <!--<i class="icon-token-empty"></i>-->
                                            <!--<i class="icon-token-empty"></i>-->
                                            <p class="{{ car_id }}">
                                                <i class="icon-ev {{ car_id }}" style="margin-right:50px;"
                                                   data-toggle="tooltip" data-html="true" title='Wants {{car_target-}} <i class="icon-token" style="font-size: 100%;"></i> at departure'></i>
                                            </p>
                                        {% endif -%}
                                    </td>

                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </table>
                    </form>
                </div>

            </div>

            <div class="row">
                <div class="imgwrapper">
                    <a name="physical-board-img"></a>
                    <img src="static/board.jpg" class="img-responsive"/>
                </div>
            </div>
        </div>
        <div id="alerts">
            {% if completed_a_move and move_summary%}
                <!-- Display move results in alert dialogue -->
                <div class="alert alert-warning" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4>Move completed!</h4>
                    <p>{{ move_summary | safe }}</p>
                </div>
                <script>
                    alert = $('.alert');
                    alert.delay(9000).fadeOut('slow', function () {
                        $(this).alert('close');
                    });
                </script>
            {% endif %}
        </div>

        {{ safe_js|safe }}

        <script type="text/javascript" src="/static/js/scc.js"></script>
    </body>
</html>
